{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASL Fingerspelling Practice</title>
    <link rel="stylesheet" href="{% static 'sign/css/asl_django.css' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png'  %}" >
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png'  %}" >
    <link rel="manifest" href="{% static '/manifest.json'  %}" >
    <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg'  %}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<h1>Fingerspelling Practice</h1>
<hr>
<div class="sign-window" id="sign-window"><img id="sign-img"></div>
<h2 id="post-answer" class="answer"></h2>
<div class="sign-buttons">
    <input class='first-tier' type="text" id="input-window" name="input-window" placeholder="Enter word here">
    <input class='second-tier' type="button" id="check-word" name="check-word" value="Check word">
    <input class='third-tier' type="button" id="replay" name="replay" value="Play Again">
    <input class='third-tier' type="button" id="new-word" name="new-word" value="New Word">
    <input class='fourth-tier' type="button" id="slower" name="slower" value="Slow Down">
    <input class='fourth-tier' type="button" id="faster" name="faster" value="Speed Up">
</div>
</body>
<script src="{% static "sign/js/wordlist.js" %}"></script>
<script src="{% static "sign/js/fingerspelling.js" %}"></script>
</html>