{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASL Fingerspelling Practice</title>
    <style>
        .sign-window {
            height: 400px;
            width: 400px;
            border: solid 5px;
            /*background: url("{% static "sign/img/a.gif" %}");*/
            background-size: cover;
        }
    </style>

</head>
<body>
<h1>Fingerspelling Practice</h1>
<hr>
<div class="sign-window" id="sign-window"></div>
    <input type="button" id="replay" name="replay" value="Play Again">
    <input type="button" id="new-word" name="new-word" value="New Word">
    <input type="button" id="slower" name="slower" value="Slow Down">
    <input type="button" id="faster" name="faster" value="Speed Up">

</body>
<script src="{% static "sign/js/wordlist.js" %}"></script>
<script src="{% static "sign/js/fingerspelling.js" %}"></script>
</html>